body {
  margin: 0;
  padding: 0;
}

/* Navbar ke liye styling */
.top-navbar {
  background-color: #111f28;
  color: white;
  padding: 10px 0;
}

.icon {
  color: #007bff; 
}

.brand-name {
  color: #007bff;
}

/* Default layout (row) */
.top-navbar-left {
  display: flex;
  flex-direction: row; /* Default: row layout */
  align-items: center;
  gap: 20px; /* Adjust gap between items */
}

.top-navbar-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

@media (max-width: 768px) {
  .top-navbar-left {
    flex-direction: column; 
    align-items: flex-start; 
    gap: 10px; 
  }

  .top-navbar-right {
    margin-top: 10px; 
  }

  .container {
    flex-direction: column; 
    align-items: flex-start; 
  }
}