/* Top Navbar ke liye styling */
html, body {
  width: 100%;
  overflow-x: hidden; 
}

.top-navbar {
  background-color: #272D39 !important;
  color: white;
  padding: 10px 0px ;

}

.icon,
.facebook-icon {
  color: #007bff;
}

.brand-name {
  color: #007bff;
  font-weight: bold;
}

@media (max-width: 768px) {
  .top-navbar .container {
    flex-direction: column;
    text-align: center;
    font-size:x-small;
  }

  .top-navbar .container > div {
    justify-content: center;
  }
}

@media (max-width: 460px) {
  .top-navbar .container {
    flex-direction: column;
    text-align: center;
    font-size:xx-small;
  
  }
  .top-navbar{
    margin-top: -15px !important;
  }
}


/*---------------------------Main Navbar------------------------------------*/


.nav-links {
  text-decoration: none;
  color: black;
  
}

.nav-link:hover {
  color: #007bff;
}

.navbar-logo {
  height: 67px;
}

/*---------------Toggle Button-------------------------*/
.toggle-btn {
  display: none !important;
  background: none;
  border: none;
  font-size: 18px !important;
  color: black;
}

@media (max-width: 992px) {
  .nav-links {
    display: none !important;
  }
  .navbar-logo {
    height: 60px;
  }
  .toggle-btn {
    display: block !important;
  }
}

@media (max-width: 768px) {
  .navbar-logo {
    height: 56px;
  }
  .toggle-btn {
    font-size: 15px !important;
    margin-bottom: 10px;
  }
}
@media (max-width:425px){
  .navbar-logo {
    height: 50px;
    margin-bottom: 8px;
  }
}



/*---------------------------------Picture Image Code----------------------------*/
.carousel-item img {
  width: 100%;
  height: 115vh;
  object-fit: cover;
}
.carousel-control-prev,
.carousel-control-next {
  width: 5%;
  background: rgba(0, 0, 0, 0.3);
  border: none;
}

@media (max-width: 768px) {
  .carousel,
  .carousel-item img,
  .carousel-item active img {
    height: 97vh;
  }
}
@media (min-width: 1025px) and (max-width: 1440px) {
  .carousel,
  .carousel-item img,
  .carousel-item active img {
    height: 150vh !important;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .carousel,
  .carousel-item img,
  .carousel-item active img {
    height: 125vh !important;
  }
}
@media (max-width: 550px) {
  .carousel,
  .carousel-item img,
  .carousel-item active img {
    height: 68vh;
  }
}

.navbar {
  position: relative;
  top: 0;
  width: 100%;
  transition: top 0.3s;
}

.navbar.sticky {
  position: fixed;
  top: 0;
  background-color: #fff;
  z-index: 1000;
}
@media (max-width: 550px) {
  .container {
    padding-top: 9px; /* Navbar ki height jitna adjust karein */
  }
}

.hover-box {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  padding: 5px 10px;
  transition: all 0.3s ease-in-out;
}

.hover-box.hovered {
  background: #007bff;
}

.hover-text {
  color: white;
  font-size: 16px;
  margin-right: 8px;
  font-weight: bold;
}

.icons {
  color: black;
  font-size: 24px;
  background-color: white;
  border-radius: 1px;
}
.hover-box.hovered .icons {
  color: white;
  background-color: #007bff;
}
.carousel-caption {
  text-align: center;
  color: white;
}

.carousel-caption h1 {
  font-size: 2.5rem;

 
}

.carousel-caption p {
  font-size: 1.2rem;
}

.carousel-caption .btn {
  margin: 5px;
  border-radius: 0!important;
}
.btn-Learn-More{
  background-color: #007bff;
  border-color: transparent;
  color: white;
  margin: 15px;
  width: 15%;
  height: 60%;
}
@media(max-width:775px){
  .btn-Contact-us{
    width: 35% !important;
  }
  .btn-Learn-More{
    width: 35% !important; 
  }
  .Building{
    font-size: 28px !important;
  }
  .customStyling{
    font-size: medium !important;
  }

  .icons {
    font-size: 0.9rem !important; /* Smaller size on smaller screens */
  }
  .hover-box.hovered {
    background: #007bff;
    padding: 3px 3px;
    border-radius: 5px;
  }
}
@media(max-width:500px){
  .better{
    font-size: 26px !important;
    font-weight: bold;
  }
  .Building{
    margin-top: 90px !important;
  }
  .customStyling{
    font-size:small !important;
  }
  .hover-box.hovered {
    background: #007bff;
    padding: 1px 1px;
    padding-left: 20px !important;
  }
  .hover-text {
    font-size: 12px;
    margin-left: -13px !important;
  }
}
.btn-Learn-More:hover{
  background-color: transparent;
  border-color: #007bff;
}
.btn-Contact-us{
  background-color: transparent;
  border-color: white;
color: white;
  margin: 15px;
  width: 15%;
  height: 60%;
}
.btn-Contact-us:hover{
  background-color: #007bff;
  color: white;
  border-color: transparent;
}
.blue-text {
  color:#007bff;
}
.imagebg{
  background-color: rgba(0, 0, 0, 0.5) !important
}
.image-container {
  position: relative;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
}
.separator_area {
  overflow: hidden;
  margin: 20px auto 15px auto;
  width: 100%;
}
.separatorhome3auto1 {
  background-color: #0099ff;
}
.separatorhome3auto1 {
  background-image: -webkit-linear-gradient(-87deg, rgba(255, 255, 255, .95) 15%, transparent 15%, transparent 15%, rgba(255, 255, 255, .95) 15%, rgba(255, 255, 255, .95) 15%, transparent 15%, transparent);
  background-image: -webkit-linear-gradient(177deg, rgba(255, 255, 255, .95) 15%, transparent 15%, transparent 15%, rgba(255, 255, 255, .95) 15%, rgba(255, 255, 255, .95) 15%, transparent 15%, transparent);
  background-image: linear-gradient(-87deg, rgba(255, 255, 255, .95) 15%, transparent 15%, transparent 15%, rgba(255, 255, 255, .95) 15%, rgba(255, 255, 255, .95) 15%, transparent 15%, transparent);
  background-size: 14px 4px;
  height: 4px;
  width: 110px;
  margin: 0px auto;
  overflow: hidden;
}
.separatorhome3auto {
  background-color: #0099ff;
}
.separatorhome3auto {

  background-image: -webkit-linear-gradient(87deg, rgba(255, 255, 255, .95) 15%, transparent 15%, transparent 15%, rgba(255, 255, 255, .95) 10%, rgba(255, 255, 255, .95) 10%, transparent 10%, transparent);
  background-image: -webkit-linear-gradient(3deg, rgba(255, 255, 255, .95) 15%, transparent 15%, transparent 15%, rgba(255, 255, 255, .95) 10%, rgba(255, 255, 255, .95) 10%, transparent 10%, transparent);
  background-image: linear-gradient(87deg, rgba(255, 255, 255, .95) 15%, transparent 15%, transparent 15%, rgba(255, 255, 255, .95) 10%, rgba(255, 255, 255, .95) 10%, transparent 10%, transparent);
  background-size: 18px 25px;
  height: 4px;
  width: 105px;
  margin: 2px auto;
  overflow: hidden;
}
.left-image {
  position: relative;
  display: inline-block;
  width: 100%;
}
.left-image img {
  width: 100%;
  height: auto;
  display: block;
}
/* Default styles */


@media (max-width: 380px) {  
  .textSizesmall h5 {
    font-size: 0.9rem;
  }

  .textSizesmall p {
    font-size: 0.6rem;
  }
}
@media (max-width: 1070px) {
  .textSizesmall h5 {
    font-size: 1.2rem;
  }

  .textSizesmall p {
    font-size: 0.7rem;
  }
}
@media (min-width: 768px) {
  .textSizesmall h5 {
    font-size: 1rem !important;
  }

  .textSizesmall h6 {
    font-size: 0.7rem;
  }
}
.contact-button {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #007bff;
  color: white;
  padding: 8px 16px;
  font-weight: bold;
  text-transform: uppercase;
  clip-path: polygon(20% 0%, 100% 0%, 100% 100%, 0% 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;

}

.contact-button span {
  display: inline-block;
}
@media (min-width:769px) and (max-width:1200px) {
  .contact-button {
    width: 60%;
    font-size: 12px;
    padding: 6px 12px;
  }
}
@media (max-width: 768px) {
  .contact-button {
    width: 60%;
    font-size: 12px;
    padding: 8px 16px;
  }
}

@media (max-width: 480px) {
  .contact-button {
    width: 60%;
    font-size: 12px;
    padding: 8px 15px;
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.left-image {
  opacity: 0; /* Shuru mein image ko hidden rakhna ka lia opacity use krr rha hn */
}

.left-image.animate {
  animation: slideInFromLeft 1s ease-out forwards;
}
.UpperCaseLetters{
  text-transform: uppercase;
}

.sector-container {
  display: flex;
  width: 100%;
  border: 2px solid #ccc;
  flex-wrap: wrap;
}

.sector-box {
  flex: 1;/*har box ko equal space mila gi*/
  text-align: center;
  padding: 15px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  color: #6f6c6c;
  background-color: #fff;
  border-right: 1px solid #ccc;
  min-width: 120px;
}
.sector-box:last-child {
  border-right: none;
}

.sector-box:hover {
  background-color: #0077cc;
  color: white;
}

.sector-box.active {
  background-color: #0099ff;
  color: white;
}
.textColor{
  color:  gray;
}
.left-mission{
  background-color:#0099ff;
  text-align: center;
}
.left-mission h3, 
.left-mission h6 {
  color: white;
}

.email-input-container {
  display: flex;  
  align-items: center;
  padding-left: 15%;
  padding-top: 6%;
  width: 300px;
}
@media (max-width : 992px){
  .customTextSize{
    font-size: small;
  }
}
@media (max-width : 565px){
  .customTextSize{
    padding: 0px 0px !important;
    font-size: x-small;
  }
}
@media (max-width : 452px){
  .customTextSize{
    font-size:xx-small;
  }
  .first-last{
    display: none;
  }
}
.email-input {
  border: none;
  background: transparent;
  color: white;
  font-size: 16px;
  outline: none;
}

.email-input::placeholder {
  color: rgba(255, 255, 255, 0.8);
  font-style: italic;
}

.send-button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 20px;
}
.input-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.underline {
  height: 1px;
  background: white;
  width: 100%;
  margin-top: 2px;
}
.keepleft{
  padding: 8px;
}


.color_paragraph{
   color: #6f6c6c;
}
@media(max-width :420px){
.textSizesmall{
  font-size:10px;
}
}